#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    macros {
        To1_macro: To1_macro {
            compatible = "zmk,behavior-macro";
            label = "To1_macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFF &rgb_ug RGB_COLOR_HSB(128,100,50) &to 0>;
        };

        To0_macro: To0_macro {
            compatible = "zmk,behavior-macro";
            label = "To0_macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFR &to 0>;
        };

        To2_macro: To2_macro {
            compatible = "zmk,behavior-macro";
            label = "To2_macro";
            #binding-cells = <0>;
            bindings =
                <&to 0>,
                <&macro_wait_time 30>,
                <&rgb_ug RGB_COLOR_HSB(250,100,50)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        L0_win {
            bindings = <&kp LEFT_WIN>;
            key-positions = <36 37>;
        };
    };

    behaviors {
        JN2: JN2 {
            compatible = "zmk,behavior-mod-morph";
            label = "JN2";
            bindings = <&kp N2>, <&kp DQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        JN6: JN6 {
            compatible = "zmk,behavior-mod-morph";
            label = "JN6";
            bindings = <&kp N6>, <&kp AMPS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        JN7: JN7 {
            compatible = "zmk,behavior-mod-morph";
            label = "JN7";
            bindings = <&kp N7>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        JN_min2und: JN_min2und {
            compatible = "zmk,behavior-mod-morph";
            label = "JN_MIN2UND";
            bindings = <&kp EQUAL>, <&kp UNDER>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        L0 {
            bindings = <
&kp LEFT_ALT    &kp Q  &kp L  &kp U         &kp COMMA  &kp DOT        &kp F        &kp W      &kp R  &kp Y  &kp P  &kp RIGHT_ALT
&kp LCTRL       &kp E  &kp I  &kp A         &kp O      &JN_min2und    &kp K        &kp T      &kp N  &kp S  &kp H  &kp RCTRL
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp V      &kp FSLH       &kp G        &kp D      &kp M  &kp J  &kp B  &kp RIGHT_SHIFT
                              &kp LEFT_ALT  &lt 1 F13  &lt 2 SPACE    &lt 4 SPACE  &lt 3 F14
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        L1_mouse {
            bindings = <
&kp LALT   &kp LC(Y)     &kp PG_UP  &kp UP      &kp PG_DN  &kp LC(LA(V))    &kp LA(UP)  &none      &none     &none      &none            &kp RALT
&kp LCTRL  &kp LA(DOWN)  &kp LEFT   &kp DOWN    &kp RIGHT  &kp LC(C)        &mkp MB5    &mkp MB1   &mkp MB2  &kp RCTRL  &kp RIGHT_SHIFT  &kp RCTRL
&kp LSHFT  &kp LC(Z)     &kp HOME   &kp LC(N1)  &kp END    &kp LC(V)        &mkp MB4    &none      &none     &none      &none            &kp RSHFT
                                    &none       &none      &none            &kp ESC     &kp ENTER
            >;
        };

        L2L_num {
            bindings = <
&kp LALT    &kp LBRC  &kp PLUS              &kp AMPERSAND   &kp MINUS              &kp RIGHT_BRACE    &kp PRCNT  &JN7     &kp N8  &kp N9  &kp SEMI   &kp RIGHT_ALT
&kp LCTRL   &kp LBKT  &kp LEFT_PARENTHESIS  &kp EQUAL       &kp RIGHT_PARENTHESIS  &kp RBKT           &kp DLLR   &kp N4   &kp N5  &JN6    &kp N0     &kp RCTRL
&kp RSHIFT  &kp HASH  &kp ASTRK             &kp CARET       &kp FSLH               &kp EXCL           &kp AT     &kp N1   &JN2    &kp N3  &kp COLON  &kp RSHFT
                                            &studio_unlock  &none                  &none              &kp SPACE  &kp F16
            >;
        };

        L3_fun {
            bindings = <
&kp LALT   &kp F12  &kp F7  &kp F8        &kp F9    &kp A      &kp LG(UP)        &kp PG_UP  &kp UP    &kp PG_DN  &kp LG(DOWN)       &kp RALT
&kp LCTRL  &kp F11  &kp F4  &kp F5        &kp F6    &kp A      &kp LG(LS(LEFT))  &kp LEFT   &kp DOWN  &kp RIGHT  &kp LG(LS(RIGHT))  &kp RCTRL
&kp LSHFT  &kp F10  &kp F1  &kp F2        &kp F3    &kp A      &kp LG(LEFT)      &kp HOME   &trans    &kp END    &kp LG(RIGHT)      &kp RSHFT
                            &kp LEFT_ALT  &kp BSPC  &kp DEL    &kp CAPS          &none
            >;
        };

        L2R_num {
            bindings = <
&kp LALT    &kp LBRC  &kp PLUS              &kp AMPERSAND  &kp MINUS              &kp RIGHT_BRACE    &kp PRCNT  &JN7    &kp N8  &kp N9  &kp SEMI   &kp RIGHT_ALT
&kp LCTRL   &kp LBKT  &kp LEFT_PARENTHESIS  &kp EQUAL      &kp RIGHT_PARENTHESIS  &kp RBKT           &kp DLLR   &kp N4  &kp N5  &JN6    &kp N0     &kp RCTRL
&kp RSHIFT  &kp HASH  &kp ASTRK             &kp CARET      &kp FSLH               &kp EXCL           &kp AT     &kp N1  &JN2    &kp N3  &kp COLON  &kp RSHFT
                                            &kp LEFT_ALT   &kp F15                &kp SPACE          &none      &none
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans    &trans    &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp A   &kp FSLH  &kp EXCL  &kp QMARK  &trans    &trans  &kp A   &kp A   &kp A   &kp A   &trans
&trans  &trans  &trans    &trans    &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
                          &trans    &trans     &trans    &trans  &trans
            >;
        };

        /* layer_2 {
            bindings = <
&none  &none   &none    &none   &none         &none         &kp N1         &none         &none     &none  &none   &to 0
&none  &none   &none    &none   &none         &none         &none         &none          &rgb_ug RGB_BRD &rgb_ug RGB_BRI  &rgb_ug RGB_EFF   &rgb_ug RGB_TOG
&none  &none   &none    &none   &none         &none         &none         &mkp LCLK     &mkp RCLK  &none  &none   &none
&none  &none   &none    &none   &bt BT_NXT  &bt BT_CLR    &none         &none         &none     &none  &none   &none
                                   &none         &none         &none         &none         &none
                                                 &none         &none         &none
            >;
       
            
        };

       Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;

            
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
               
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
        };*/
    };
};
