// OS設定を日本語キーボードのまま使用するための変換定義
#define JP_DQT          AT                // "
#define JP_AND          CARET             // &
#define JP_SQT          AMPERSAND         // '
#define JP_EQL          UNDER             // =
#define JP_CRT          EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLS          COLON             // +
#define JP_TLE          PLUS              // ~
#define JP_PPE          LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_CLN          SINGLE_QUOTE      // :
#define JP_AST          DOUBLE_QUOTES     // *
#define JP_BQT          LEFT_BRACE        // `
#define JP_UND          LS(0x87)          // _
#define JP_LBRC         RIGHT_BRACKET     // [
#define JP_RBKT         BACKSLASH         // ]
#define JP_LPRN         ASTERISK          // (
#define JP_RPRN         LEFT_PARENTHESIS  // )
#define JP_LBRC         RIGHT_BRACE       // {
#define JP_RBRC         PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    macros {
        To1_macro: To1_macro {
            compatible = "zmk,behavior-macro";
            label = "To1_macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFF &rgb_ug RGB_COLOR_HSB(128,100,50) &to 0>;
        };

        To0_macro: To0_macro {
            compatible = "zmk,behavior-macro";
            label = "To0_macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFR &to 0>;
        };

        To2_macro: To2_macro {
            compatible = "zmk,behavior-macro";
            label = "To2_macro";
            #binding-cells = <0>;
            bindings =
                <&to 0>,
                <&macro_wait_time 30>,
                <&rgb_ug RGB_COLOR_HSB(250,100,50)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        L0_win {
            bindings = <&kp LEFT_WIN>;
            key-positions = <36 37>;
        };
    };

    behaviors {
        JN_SMIN2UND: JN_SMIN2UND {
            compatible = "zmk,behavior-mod-morph";
            label = "JN_SMIN2UND";
            bindings = <&kp MINUS>, <&kp JP_UND>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        L0 {
            bindings = <
&kp TAB     &kp Q  &kp L  &kp U         &kp COMMA  &kp DOT        &kp F      &kp W      &kp R  &kp Y  &kp P  &kp RALT
&kp LCTRL   &kp E  &kp I  &kp A         &kp O      &JN_SMIN2UND   &kp K      &kp T      &kp N  &kp S  &kp H  &kp RCTRL
&kp LSHIFT  &kp Z  &kp X  &kp C         &kp V      &kp FSLH       &kp G      &kp D      &kp M  &kp J  &kp B  &kp RSHIFT
                              &kp LEFT_ALT  &lt 1 F13  &lt 2 SPACE    &lt 3 TAB  &lt 4 F14
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        L1_mouse {
            bindings = <
&kp TAB    &kp LC(Y)     &kp PG_UP  &kp UP      &kp PG_DN  &kp LC(LA(V))    &kp LA(UP)  &none      &none     &none      &none            &kp RALT
&kp LCTRL  &kp LA(DOWN)  &kp LEFT   &kp DOWN    &kp RIGHT  &kp LC(C)        &mkp MB5    &mkp MB1   &mkp MB2  &kp RCTRL  &kp RIGHT_SHIFT  &kp RCTRL
&kp LSHFT  &kp LC(Z)     &kp HOME   &kp LC(N1)  &kp END    &kp LC(V)        &mkp MB4    &none      &none     &none      &none            &kp RSHFT
                                    &none       &none      &none            &kp ESC     &kp ENTER
            >;
        };

        L2L_num {
            bindings = <
&kp LALT    &kp JP_LBRC  &kp JP_PLS   &kp JP_AND  &kp MINUS    &kp JP_RBRC  &kp PRCNT  &kp N7   &kp N8  &kp N9  &kp SEMI    &kp RALT
&kp LCTRL   &kp JP_LBKT  &kp JP_LPRN  &kp JP_EQL  &kp JP_RPRN  &kp JP_RBKT  &kp DLLR   &kp N4   &kp N5  &kp N6  &kp N0      &kp RCTRL
&kp RSHIFT  &kp HASH     &kp JP_AST   &kp JP_CRT  &kp FSLH     &kp EXCL     &kp JP_AT  &kp N1   &kp N2  &kp N3  &kp JP_CLN  &kp RSHFT
                                    &studio_unlock  &none                  &none              &kp SPACE  &kp F16
            >;
        };

        L2R_num {
            bindings = <
&kp LALT    &kp JP_LBRC  &kp JP_PLS   &kp JP_AND  &kp MINUS    &kp JP_RBRC  &kp PRCNT  &kp N7   &kp N8  &kp N9  &kp SEMI    &kp RALT
&kp LCTRL   &kp JP_LBKT  &kp JP_LPRN  &kp JP_EQL  &kp JP_RPRN  &kp JP_RBKT  &kp DLLR   &kp N4   &kp N5  &kp N6  &kp N0      &kp RCTRL
&kp RSHIFT  &kp HASH     &kp JP_AST   &kp JP_CRT  &kp FSLH     &kp EXCL     &kp JP_AT  &kp N1   &kp N2  &kp N3  &kp JP_CLN  &kp RSHFT
                                    &kp LEFT_ALT   &kp F15                &kp SPACE          &none      &none
            >;
        };

        L3_fun {
            bindings = <
&kp LALT   &kp F12  &kp F7  &kp F8        &kp F9    &kp A      &kp LG(UP)        &kp PG_UP  &kp UP    &kp PG_DN  &kp LG(DOWN)       &kp RALT
&kp LCTRL  &kp F11  &kp F4  &kp F5        &kp F6    &kp A      &kp LG(LS(LEFT))  &kp LEFT   &kp DOWN  &kp RIGHT  &kp LG(LS(RIGHT))  &kp RCTRL
&kp LSHFT  &kp F10  &kp F1  &kp F2        &kp F3    &kp A      &kp LG(LEFT)      &kp HOME   &trans    &kp END    &kp LG(RIGHT)      &kp RSHFT
                            &kp LEFT_ALT  &kp BSPC  &kp DEL    &kp CAPS          &none
            >;
        };

        /* layer_2 {
            bindings = <
&none  &none   &none    &none   &none         &none         &kp N1         &none         &none     &none  &none   &to 0
&none  &none   &none    &none   &none         &none         &none         &none          &rgb_ug RGB_BRD &rgb_ug RGB_BRI  &rgb_ug RGB_EFF   &rgb_ug RGB_TOG
&none  &none   &none    &none   &none         &none         &none         &mkp LCLK     &mkp RCLK  &none  &none   &none
&none  &none   &none    &none   &bt BT_NXT  &bt BT_CLR    &none         &none         &none     &none  &none   &none
                                   &none         &none         &none         &none         &none
                                                 &none         &none         &none
            >;
       
            
        };

       Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;

            
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
               
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
        };*/
    };
};
